* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        :root{
            --fundo-principal: #d3d3d3;
            --texto: #222222;
            --texto-inverso: #ffffff;
            --destaque: #0077ff;
            --destaque-inverso: #66bbff;
            --fundo-card: #ffffff;
        }

        html, body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            line-height: 1.5em;
            background-color: var(--fundo-principal);
            color: var(--texto);
        }

        header{
            position: sticky;
            background-color: var(--destaque);
            padding: 30px;
            display: flex;
            flex-flow: column nowrap;
            gap: 10px;
        }

        h1{
            color: var(--texto-inverso);
            font-size: 35px;
            font-weight: bold;
			margin-bottom: 15px;
        }
		
		h2{
			color: var(--texto-inverso);
			font-size: 20px;
		}
		
        p{
            color: var(--texto);
            font-size: 18px;
        }
		
		b{
			color: var(--destaque-inverso);
		}
		
		ul,li,a{
			text-decoration: none;
			list-style: none;
			color: var(--color);
		}
		
		ul{
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
		}
		
		li{
			margin-left: 10px;
		}
		
		main{
			background-color: var(--fundo-principal);
		}
		
		section.lateral{
			float:left;
			width:10vw;
			display: flex;
			flex-flow: column nowrap;
			gap: 10px;
			margin-right: 20px;
		}
		
		div.bloco, div.bloco-lateral{
			background-color: var(--fundo-card);
			display: flex;
			border-radius: 10px;
			padding: 30px;
		}
		
		div.bloco-lateral{
			flex-flow: column nowrap;
			margin: 10px;
		}
		
		div.bloco{
			margin:15px;
			border: 3px solid var(--destaque);
			cursor: pointer;
			transition: all 0.3s ease-in-out;
		}
		
		div.bloco:hover{
			padding: 35px;
			border: 4px solid var(--destaque-inverso);
		}
		
		section.principal{
			gap: 10px;
			display: column;
		}
		
		footer{
			background-color: var(--destaque);
			padding: 15px;
		}

		nav.bloco-cima{
			background-color: var(--destaque-inverso);
			width: 100%;
			margin-top: 0%;
			display: flex;
			justify-content: center;
			padding: 10px;
			margin-bottom: 20px;
		}

		section{
			margin-bottom: 20px;
		}

		div.linha{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 15px;
			border-left: 2px solid var(--texto);
			margin-left: 21px;
		}

		section.cursos{	

		}

